<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="data source=.\mssqlserver2019;initial catalog=TWC.IMS;persist security info=True;user id=sa;password=P@ssw0rd;min pool size=500;max pool size=2000;multipleactiveresultsets=True;connect timeout=10;application name=TWC.IMS.Web" providerName="System.Data.SqlClient" />
    <add name="Entities1" connectionString="data source=.\mssqlserver2019;initial catalog=TWC.IMS;persist security info=True;user id=sa;password=P@ssw0rd;min pool size=500;max pool size=2000;multipleactiveresultsets=True;connect timeout=10;application name=TWC.IMS.Web" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>