
div.form-signin {
    max-width: 350px;
    padding: 30px 15px 15px 15px;
    margin: 0 auto;
}

    div.form-signin div.login-logo {
        margin: 0 auto;
        display: block;
        padding: 10px;
        width: 70px;
        text-align: center;
    }

    div.form-signin > div.signin-container {
        display: inline-block;
        width: 100%;
        height: 100%;
        border: solid 1px #ccc;
        padding: 20px 30px 10px 30px;
        border-radius: 10px;
        background-color: #fff;
    }

        div.form-signin > div.signin-container > h4 {
            margin-top: 10px;
            margin-bottom: 20px;
        }

        div.form-signin > div.signin-container > div.form-group > div.col-md-12 > input.form-control {
            max-width: none !important;
        }

    div.form-signin div.login-logo > img {
        height: 45px;
    }
